@include mediaXl {

}

@include mediaLg {
    .items {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    
      }
}

@include mediaMd {
  .header__menu{
      flex-direction: column;
      border: 1px solid red;
      padding-bottom: 15px;

      &-search {
          width: 90%;
      }
  }

  .hero {
    &-text {
        font-size: 30px;
    }
  }

  .articles {
    &-container{
        max-width: 100%;            
        padding: 0 35px 100px;
    }
    &-title{
        font-size: 60px;
    }
  }

  .items {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

  }
}

@include mediaSm {
.header {
    .input-group {
        margin: auto;
        width: 70%;
    }
}
.hero {
    &-block {
        display: none;
    }
  }
.items {
    grid-template: repeat(1, 1fr) / 1fr;
}
}

@include mediaSs {

}